/* loading */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #F2F0EC;
  text-align: center;
}
.fa-solid {
  padding-top: 150px;
  font-size: 40px;
  animation: change-color 1s linear infinite;
}

@keyframes change-color {
  0%,100%{
    color: #4DAD5C;
  }
  50%{
    color: #98fb98;
  }
}


/* main */
/* header */
.container {
  margin: 0 8%;
}
a {
  cursor: pointer;
}
header{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #F2F0EC;
  opacity: 0.9;
  align-items: center;
  position: fixed;
}
.bono {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  flex: 2;
}
.bono h1 {
  color:#4DAD5C;
  font-size: 18px;
  padding-right: 10px;
}
.header_list {
  flex: 8;
  display: flex;
  margin: 0 5% 0 15%;
  justify-content: flex-end;
}
.header_list li {
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}
.header_list li a:hover {
  color: #4DAD5C;
  transition: 0.4s;
}
.icon{
  font-size: 20px;
}
.icon:hover {
  color: #4DAD5C;
  transition: 0.4s;
}

/* top */
.top {
  width: 100%;
  height: 780px;
  background-image: url(../img/IMG_9416.jpeg);
  background-size: cover;
}

/* about */
.about {
  height: 800px;
  margin-left: 5%;
  margin-right: 5%;
}
.about_logo {
  padding: 150px 0 100px 0;
  color: #696969;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.about_logo span {
  border: 2px solid #4DAD5C;
  margin: 0 7px;
}
.about_item {
  display: flex;
  margin-bottom: 130px;
}
.movie , .view {
  flex: 6;
}
.about_text_item {
  position: relative;
  flex: 4;
}
.about_text_wrap {
  line-height: 35px;
  font-size: 16px;
}
.about_text_wrap_top {
  position: absolute;
  bottom: 80px;
  right: 0;
  text-align: right;
  margin-left: 10%;
}
.about_text_wrap_bottom {
  position: absolute;
  bottom: 80px;
  left: 0;
  text-align: left;
  margin-right: 10%;
}
.about_title {
  margin-bottom: 20px;
  font-size: 25px;
}
.about_text {
  color: #696969;
}