/* loading */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #F2F0EC;
  text-align: center;
}
.fa-solid {
  padding-top: 150px;
  font-size: 40px;
  animation: change-color 1s linear infinite;
}

@keyframes change-color {
  0%,100%{
    color: #4DAD5C;
  }
  50%{
    color: #98fb98;
  }
}


/* header */
.container {
  margin: 0 8%;
}
a {
  cursor: pointer;
}
header{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #F2F0EC;
  opacity: 0.9;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.bono {
  display: flex;
  margin-left: 5%;
  flex: 3;
}
.bono h1 {
  color:#4DAD5C;
  font-size: 18px;
  padding-right: 10px;
}
.header_list {
  flex: 7;
  display: flex;
  margin: 0 5% 0 15%;
  justify-content: flex-end;
}
.header_list li {
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}
.header_list li a:hover {
  color: #4DAD5C;
  transition: 0.4s;
}
.icon{
  font-size: 20px;
  margin-left: 5%;
}
.icon:hover {
  color: #4DAD5C;
  transition: 0.4s;
}

/* top */
.top {
  width: 100%;
  height: 100vh;
  position: relative;
}
.top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
/* .scroll {
  background-color: #d3d3d3;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border: solid 2px #3cb371;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 16%);
}
.scroll:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #4DAD5C;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: transform ease 0.4s;
}

.scroll:hover:after {
  transform: translate(-50%, -50%) scale(1.1, 1.1);
}

.scroll:before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: #3cb371;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: border-color ease 0.1s;
}

.scroll:hover:before {
  border-color: #fff;
} */

/* about */
#about{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 150px;
}
.main_logo {
  margin: 0 0 80px 0;
  padding-top: 80px;
  color: #696969;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main_logo span {
  border: 2px solid #ffd700;
  margin: 0 7px;
}
.about_item {
  display: flex;
  margin-bottom: 150px;
  position: relative;
}

.movie , .view {
  flex: 6;
}
.movie {
  position: relative;
  right: 100%;
  transition: 1.3s;
}
.view {
  position: relative;
  left: 100%;
  transition: 1.3s;
}
.movie.movie_fadein {
  right: 0;
}
.view.view_fadein {
  left: 0;
}
.about_text_item_top {
  position: relative;
  left: 100%;
  flex: 4;
  transition: 1.5s;
}
.about_text_item_top.top_text_fadein {
  left: 0;
}
.about_text_item_bottom {
  position: relative;
  right: 100%;
  flex: 4;
  transition: 1.5s;
}
.about_text_item_bottom.bottom_text_fadein {
  right: 0;
}

.about_text_wrap {
  line-height: 35px;
  font-size: 16px;
}
.about_text_wrap_top {
  position: absolute;
  bottom: 80px;
  right: 0;
  text-align: right;
  margin-left: 15%;
}
.about_text_wrap_bottom {
  position: absolute;
  bottom: 80px;
  left: 0;
  text-align: left;
  margin-right: 15%;
}
.about_title {
  margin-bottom: 20px;
  font-size: 22px;
  color: #007700;
}
.about_text {
  color: #696969;
}

/* stylist */
#stylist {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 200px;
}
.stylist_item {
  display: flex;
  justify-content: space-between;
}
.stylist_item:first-of-type {
  margin-bottom: 100px;
}
.stylist_img{
  flex: 3;
  position: relative;
  right: 120%;
  transition: 1.5s;
}
.stylist_text_item {
  flex: 7;
  position: relative;
  right: 120%;
  margin-left: 7%;
  color: #696969;
  transition: 1.2s;
}
.stylist_img.stylist_img_fadein {
  right: 0;
}
.stylist_text_item.stylist_text_item_fadein {
  right: 0;
}
.stylist_type {
  font-size: 18px;
}
.stylist_name {
  font-size: 35px;
  letter-spacing: 5px;
  padding: 10px 0 20px 0;
}
.name {
  font-size: 18px;
  margin-left: 3%;
  color: #4DAD5C;
  letter-spacing: 1px;
}
.stylist_list li {
  padding-top: 7px;
}
.stylist_text {
  padding-top: 30px;
  font-size: 17px;
  line-height: 30px;
}