@media screen and (max-width:1000px) { 
  #about {
    margin-left: 10%;
    margin-right: 10%;
  }
  .about_logo {
    padding: 180px 0 100px 0;
  }
  .about_item {
    height: 600px;
    margin-bottom: 100px;
    align-content: center;
  }
  .about_item_top {
    flex-direction: column-reverse;
  }
  .about_item_bottom {
    flex-direction: column;
  }
  .about_text_wrap_top {
    position: relative;
    bottom: 0;
    margin-left: 40%;
  }
  .about_text_wrap_bottom {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    margin-right: 40%;
  }
  .about_text_item_top {
    flex: 3;
  }
  .movie,.view {
    flex: 7;
  }
}